
.tree {
    height: 100%;
    width: 17%;
    min-width: 223px;
    overflow: auto;
    background: #252526;
}
.tree-element {
    cursor: pointer;
    color: #cccccc;
    padding: 1px 0 1px 14px;
    user-select: none;
    font-size: 13px;
}
.tree-element label {
    pointer-events: none;
}
.tree-element.opened {
    /* background: #292423; */
}

.sub-tree .tree-element {
    /* background: #292423; */
}

.tree-element:not(.opened) .sub-tree {
    display: none;
}

/* width */
.tree::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.tree::-webkit-scrollbar-track {
    background: #252526; 
}

/* Handle */
.tree::-webkit-scrollbar-thumb {
    background: rgba(84, 84, 84, 0);
}
/* Handle */
.tree:hover::-webkit-scrollbar-thumb {
    background: rgb(84, 84, 84); 
}

/* Handle on hover */
.tree::-webkit-scrollbar-thumb:hover {
    background: rgb(113, 113, 113);
}