/* 
@font-face {
    font-family: "FiraCode";
    src:url("/fonts/Harlow_Solid_Italic.ttf");
} */

.wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: 40px;
}

body, html {
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: "FiraCode", Roboto;
    font-size: 15px;
}

header {
    width: 100%;
    height: 40px;
    background: #211f1e;
    flex: none;
    position: absolute;
    top: 0;
}

body .ace_editor {
    position: relative;
    overflow: hidden;
    font: 16px/normal monospace;
    direction: ltr;
    text-align: left;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}