@font-face {
    font-family: "FiraCode";
    src:url("/fonts/FiraCode-Regular.ttf");
}
@font-face {
    font-family: "Courier New";
    src:url("/fonts/cour.ttf");
}

.wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: 34px;
}

body, html {
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: "FiraCode", "Courier New", monospace;
    font-size: 15px;
}

header {
    width: 100%;
    height: 34px;
    background: #31302f;
    flex: none;
    position: absolute;
    top: 0;
}

body .ace_editor {
    position: relative;
    overflow: hidden;
    font-size: 14px;
    font-weight: normal;
    font-family: "FiraCode", "Courier New", monospace;
    direction: ltr;
    text-align: left;
    color: #d4d4d4;
}