
.tree {
    height: 100%;
    width: 17%;
    min-width: 223px;
    overflow-x: hidden;
    background: #252526;
    position: relative;
}
.tree-element {
    cursor: pointer;
    color: #cccccc;
    padding: 4.5px 0 4.5px 14px;
    user-select: none;
    font-size: 13px;
    line-height: 1;
    /* height: 19px; */
}
.tree-element label {
    pointer-events: none;
    z-index: 2;
}

.tree > .tree-element {
    padding-left: 22px;
}

.tree-element:not(.opened) .sub-tree {
    display: none;
}

/* width */
.tree::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.tree::-webkit-scrollbar-track {
    background: #252526; 
}

/* Handle */
.tree::-webkit-scrollbar-thumb {
    background: rgba(84, 84, 84, 0);
}
/* Handle */
.tree:hover::-webkit-scrollbar-thumb {
    background: rgb(84, 84, 84); 
}

/* Handle on hover */
.tree::-webkit-scrollbar-thumb:hover {
    background: rgb(113, 113, 113);
}
.tree-element.opened:before {
    content: '';
    position: absolute;
    left: 0;
    transform: translateY(-5px);
    width: 100%;
    height: 22px;
    z-index: 0;
    background: rgba(42, 69, 78, 0.18);
    pointer-events: none;
}

.tree-element.opened > label {
    color: #e0e0e0;
}